@charset "UTF-8";
/*******************************************************
Product list Styles
********************************************************/
ul.product_list .availability span {
  display: inline-block;
  color: white;
  font-weight: bold;
  padding: 3px 8px 4px 8px;
  margin-bottom: 20px; }
  ul.product_list .availability span.available-now {
    background: #46a74e;
    border: 1px solid #36943e; }
  ul.product_list .availability span.out-of-stock {
    background: #ff7430;
    border: 1px solid #ea5e1a; }
ul.product_list .color-list-container {
  margin-bottom: 12px; }
  ul.product_list .color-list-container ul li {
    display: inline-block;
    border: 1px solid #e3e3e3; }
    ul.product_list .color-list-container ul li a {
      display: block;
      width: 23px;
      height: 23px;
      margin: 1px; }
ul.product_list .product-image-container {
  position: relative;
  background: #000; }
  ul.product_list .product-image-container .product_img_link {
    display: block;
    background: #e3e3e3;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  ul.product_list .product-image-container img {
    margin: 0 auto; }
    @media (max-width: 767px) {
      ul.product_list .product-image-container img {
        width: 100%; } }
  ul.product_list .product-image-container #thumb-2 {
    display: none; }
  ul.product_list .product-image-container .quick-view {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background: rgba(0, 0, 0, 0.5);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }
    ul.product_list .product-image-container .quick-view span {
      display: none; }
    ul.product_list .product-image-container .quick-view:after {
      content: "ïš";
      color: #fff;
      font-size: 70px;
      line-height: 1em;
      z-index: 5;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -40px 0 0 -30px;
      font-family: "FontAwesome";
      display: block;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      opacity: 0;
      -moz-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      -webkit-transform: scale(0, 0);
      transform: scale(0, 0);
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    @media (max-width: 767px) {
      ul.product_list .product-image-container .quick-view {
        display: none; } }
ul.product_list .comments_note {
  overflow: hidden;
  padding-bottom: 10px;
  line-height: 17px; }
  ul.product_list .comments_note .nb-comments {
    overflow: hidden;
    display: inline-block; }
ul.product_list .functional-buttons div a,
ul.product_list .functional-buttons div label {
  color: #333;
  cursor: pointer;
  line-height: 21px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  ul.product_list .functional-buttons div a:hover,
  ul.product_list .functional-buttons div label:hover {
    color: #777; }
ul.product_list .functional-buttons div.wishlist a:before {
  display: inline-block;
  font-family: "FontAwesome";
  content: "\f08a";
  margin-right: 3px;
  min-width: 13px;
  text-align: left; }
ul.product_list .functional-buttons div.wishlist a.checked:before {
  content: "\f004"; }
ul.product_list .functional-buttons div.compare a:before {
  content: "\f067";
  display: inline-block;
  font-family: "FontAwesome";
  margin-right: 3px;
  min-width: 17px;
  text-align: left; }
ul.product_list .functional-buttons div.compare a.checked:before {
  content: "\f068"; }

ul.product_list > li .product-container:hover .quick-view {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }
  ul.product_list > li .product-container:hover .quick-view:after {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-animation: spinAround 2s linear infinite;
    -moz-animation: spinAround 2s linear infinite;
    animation: spinAround 2s linear infinite; }

ul.product_list > li {
  margin-bottom: 30px; }

/*******************************************************
Product list(Grid) Styles 
********************************************************/
@media (min-width: 480px) and (max-width: 767px) {
  ul.product_list.grid > li {
    width: 50%;
    float: left; } }
ul.product_list.grid > li .btn.lnk_view {
  padding: 16px 0 17px;
  text-align: center;
  width: 144px; }
  @media (max-width: 1199px) {
    ul.product_list.grid > li .btn.lnk_view {
      width: 117px; } }
ul.product_list.grid > li .product-container {
  background: white;
  margin-bottom: 8px; }
  ul.product_list.grid > li .product-container .product-image-container {
    position: relative; }
    ul.product_list.grid > li .product-container .product-image-container .product_img_link {
      display: block; }
  ul.product_list.grid > li .product-container h5 {
    padding: 0;
    margin: 0 0 23px; }
    ul.product_list.grid > li .product-container h5 a span.list-name {
      display: none; }
  ul.product_list.grid > li .product-container .comments_note .star_content {
    display: inline-block;
    margin: 0 0 0 0; }
  ul.product_list.grid > li .product-container .product-desc {
    display: none; }
    ul.product_list.grid > li .product-container .product-desc span.list-desc {
      display: none; }
  ul.product_list.grid > li .product-container .content_price {
    padding-bottom: 32px;
    line-height: 21px; }
  ul.product_list.grid > li .product-container .old-price,
  ul.product_list.grid > li .product-container .price,
  ul.product_list.grid > li .product-container .price-percent-reduction {
    display: inline-block; }
  ul.product_list.grid > li .product-container .product-flags {
    display: none; }
  ul.product_list.grid > li .product-container .old-price {
    margin-right: 5px; }
  ul.product_list.grid > li .product-container .button-container {
    margin-bottom: 14px; }
    ul.product_list.grid > li .product-container .button-container .ajax_add_to_cart_button,
    ul.product_list.grid > li .product-container .button-container span.btn,
    ul.product_list.grid > li .product-container .button-container .lnk_view {
      position: relative;
      margin: 0 0 10px 0;
      z-index: 1; }
  ul.product_list.grid > li .product-container .right-block {
    padding: 30px 20px 6px;
    border: 1px solid #e3e3e3;
    border-top: none; }
    @media (min-width: 1200px) {
      ul.product_list.grid > li .product-container .right-block {
        padding-left: 35px;
        padding-right: 35px; } }
  ul.product_list.grid > li .product-container .functional-buttons {
    padding: 5px 0; }
    ul.product_list.grid > li .product-container .functional-buttons div {
      text-align: left;
      padding: 3px 10px 4px 0; }
@media (min-width: 1200px) {
  ul.product_list.grid > li.hovered .product-container .product-image-container .quick-view {
    display: block; } }
@media (min-width: 992px) {
  ul.product_list.grid > li.first-in-line {
    clear: left; } }
@media (min-width: 480px) and (max-width: 991px) {
  ul.product_list.grid > li.first-item-of-tablet-line {
    clear: left; } }

ul.product_list.grid > li .product-container .button-container,
ul.product_list.list > li .product-container .button-container {
  overflow: hidden; }
  ul.product_list.grid > li .product-container .button-container .ajax_add_to_cart_button,
  ul.product_list.grid > li .product-container .button-container span.btn,
  ul.product_list.grid > li .product-container .button-container .lnk_view,
  ul.product_list.list > li .product-container .button-container .ajax_add_to_cart_button,
  ul.product_list.list > li .product-container .button-container span.btn,
  ul.product_list.list > li .product-container .button-container .lnk_view {
    position: relative;
    float: left; }
  ul.product_list.grid > li .product-container .button-container .ajax_add_to_cart_button,
  ul.product_list.grid > li .product-container .button-container span.btn,
  ul.product_list.list > li .product-container .button-container .ajax_add_to_cart_button,
  ul.product_list.list > li .product-container .button-container span.btn {
    margin-right: -1px;
    z-index: 2; }

/*******************************************************
Product list(List) Styles 
********************************************************/
@media (max-width: 479px) {
  ul.product_list.list > li .left-block {
    width: 100%; } }
ul.product_list.list > li .product-container {
  border: 1px solid #e3e3e3;
  padding: 15px; }
@media (max-width: 479px) {
  ul.product_list.list > li .product-image-container {
    margin: 0 auto; } }
ul.product_list.list > li .product-image-container .product_img_link {
  display: block;
  position: relative; }
ul.product_list.list > li .product-image-container .content_price {
  display: none !important; }
ul.product_list.list > li .product-flags {
  color: #333333;
  margin: 5px 0 10px 0; }
  @media (min-width: 480px) {
    ul.product_list.list > li .product-flags {
      margin-top: -5px; } }
  ul.product_list.list > li .product-flags .discount {
    color: #f13340; }
ul.product_list.list > li h5 {
  padding-bottom: 8px; }
  ul.product_list.list > li h5 a span.grid-name {
    display: none; }
ul.product_list.list > li .product-desc {
  margin-bottom: 15px; }
  ul.product_list.list > li .product-desc span.grid-desc {
    display: none; }
@media (max-width: 479px) {
  ul.product_list.list > li .center-block {
    width: 100%; } }
ul.product_list.list > li .center-block .comments_note {
  margin-bottom: 12px; }
  @media only screen and (min-width: 480px) {
    ul.product_list.list > li .center-block .comments_note {
      text-align: left; } }
  ul.product_list.list > li .center-block .comments_note .star_content {
    display: inline-block; }
@media (min-width: 992px) {
  ul.product_list.list > li .right-block .right-block-content {
    margin: 0;
    border-left: 1px solid #e3e3e3;
    padding-left: 15px;
    padding-bottom: 16px; } }
@media (max-width: 991px) {
  ul.product_list.list > li .right-block .right-block-content {
    padding-top: 20px; } }
@media (max-width: 479px) {
  ul.product_list.list > li .right-block .right-block-content {
    padding-top: 5px; } }
ul.product_list.list > li .right-block .right-block-content .content_price {
  padding-bottom: 10px;
  padding-top: 5px; }
  @media (max-width: 991px) {
    ul.product_list.list > li .right-block .right-block-content .content_price {
      padding-top: 13px;
      padding-bottom: 0; } }
  @media (max-width: 479px) {
    ul.product_list.list > li .right-block .right-block-content .content_price {
      padding-top: 0;
      width: 100%; } }
  ul.product_list.list > li .right-block .right-block-content .content_price span {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 14px; }
    ul.product_list.list > li .right-block .right-block-content .content_price span.old-price {
      margin-right: 8px; }
ul.product_list.list > li .right-block .right-block-content .button-container {
  overflow: hidden;
  padding-bottom: 20px; }
  @media (max-width: 479px) {
    ul.product_list.list > li .right-block .right-block-content .button-container {
      width: 100%; } }
  ul.product_list.list > li .right-block .right-block-content .button-container .btn {
    margin-bottom: 10px; }
ul.product_list.list > li .right-block .right-block-content .functional-buttons {
  overflow: hidden; }
  @media (max-width: 991px) {
    ul.product_list.list > li .right-block .right-block-content .functional-buttons {
      clear: both; }
      ul.product_list.list > li .right-block .right-block-content .functional-buttons > div {
        float: left;
        padding-top: 0 !important;
        padding-right: 20px; } }
  @media (max-width: 479px) {
    ul.product_list.list > li .right-block .right-block-content .functional-buttons {
      float: none; } }
  ul.product_list.list > li .right-block .right-block-content .functional-buttons a {
    cursor: pointer; }
  ul.product_list.list > li .right-block .right-block-content .functional-buttons .compare {
    padding-top: 10px; }
@media (min-width: 1200px) {
  ul.product_list.list > li:hover .product-image-container .quick-view {
    display: block; } }
@media (max-width: 479px) {
  ul.product_list.list > li {
    text-align: center; } }

/*******************************************************
Product list(Index page) Styles 
********************************************************/
#index ul.product_list.tab-pane > li {
  margin-bottom: 30px; }
  #index ul.product_list.tab-pane > li .availability {
    display: none; }
  @media (min-width: 480px) and (max-width: 767px) {
    #index ul.product_list.tab-pane > li.first-item-of-tablet-line {
      clear: none; }
    #index ul.product_list.tab-pane > li.first-item-of-mobile-line {
      clear: left; } }

/***** IE code *****/
.ie8 .quick-view {
  background: #fff;
  border: 1px solid #e3e3e3; }

@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotateY(0deg); }

  to {
    -webkit-transform: rotateY(360deg); } }
@-moz-keyframes spinAround {
  from {
    -moz-transform: rotateY(0deg); }

  to {
    -moz-transform: rotateY(360deg); } }
@keyframes spinAround {
  from {
    transform: rotateY(0deg); }

  to {
    transform: rotateY(360deg); } }
